server:
  port: 8088
  servlet:
    context-path: /api/v1

spring:
  data:
    redis:
      host: localhost
      port: 6379

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: user
    password: password

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        order_inserts: true
        order_updates: true
        generate_statistics: true
        default_schema: itrum_demo

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: transaction-service
    topic:
      transaction-request:
        name: transaction-request
      notification:
        name: notification

redis-params:
  transaction-id-storage: transaction-id-storage
  transaction-id-ttl-minute: 15
  wallet-key-prefix: wallet-uuid-


logging:
  level:
    com.itrumtransactionservice: DEBUG
